@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Raleway:wght@100;500;700&display=swap');

html {
  scroll-behavior: smooth;
}


body{
  background-color: lavender;
  margin: 1.5em;
  font-family: 'Poppins', sans-serif;
  color: white;


    h1{
      font-size: 3rem;
      margin-top: 2rem;
      line-height:3.3rem;

    }

}
.subhead{
  font-size: 1.4rem;
}

.noBullets {
  list-style: none;
  display: flex;
  justify-content: space-around;
  font-size: 1.3rem;
}
.logo{
  font-weight: bold;

}

.hero-img{
  background: url('https://images.unsplash.com/photo-1526318896980-cf78c088247c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8YXNpYW4lMjBmb29kfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=1000&q=60');
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: cover;

  background-repeat: no-repeat;
  background-position: center center;
  display: block;




}

.hero{
  height: 100vh;

}


img{
    width: 100%
}

.map{
  background-color: goldenRod;
  width: 100%;
  height: 600px;
  margin-bottom: 50px;
  


}

a{
  color: white;
  text-decoration: none;
  padding: 8px;
  border-radius: 6px;

    &:hover{
      background-color: lavender;
      color: black;
    }
}

.header{


  svg{
    width: 3em;
    margin-top: -6.6em;
    cursor: pointer;
    display: none;

  }
}

.more-info{
  // background-color: lightblue;

  img{
    width: 100%;
    height: 11em;
    object-fit: cover;
  }

  .title{
    font-weight: bold;
    font-size: 1.25rem;

  }
  .desc{
    line-height: 1.25rem;
  }
}



.details{
  // background-color: lightblue;
  text-align: left;
  padding: 60px;
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 8px );
  -webkit-backdrop-filter: blur( 8px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  margin-bottom: 3em;
}

.reviews{
    background-color: pink;
}


.hero{

    .hero-title{
      position: absolute;
      top: 15rem;
      left: 12rem;
      color: white;
    }

    .hero-subhead{
      position: absolute;
      top: 20rem;
      left: 12rem;
      font-size: 1.6rem;
      color: white;


    }

    .hero-svg{
      display:none;
    }



}

.feature{
  display: grid;
  grid-template-columns: repeat(2, auto);
  margin-bottom: 3em;

  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 8px );
  -webkit-backdrop-filter: blur( 8px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );


    img{
      width: 50%;
      border-radius:15px 50px;
      margin: 40px;
      border: 3px solid white;
      // margin-left: auto;
      // margin-right: auto;


    }

    .content{
      text-align: right;
      width: 50%;
      text-align: left;
      margin-left: 70px;
      margin-top: 40px;


    }

    .desc{
      text-align: left;
    }

    .left-menu{
      grid-template-areas:
      'left right';
    }



}

.reviews{
  display: flex;
  list-style: none;
  justify-content: center;
  color: black;
  padding: 20px;

  background: rgba( 255, 255, 255, 0.45 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 9.5px );
-webkit-backdrop-filter: blur( 9.5px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );


}

@media only screen and (min-wdith: 680px) {

  body{
    margin: 1.5rem 5em;
    font-family: 'Poppins', sans-serif;

  }

}

.reviews{
  display: flex;
  list-style: none;
  justify-content: center;


}

// apply settings for glassmorphism here
.glass{

}
